.row{
    margin-left: 40px;
    width:100%;
    overflow-x: scroll;
    color: #e5e5e5;
}

.slider_items{
    position: relative;
}


.row_posters{
    display:flex;
    padding:0 0.2vw;    
    margin-bottom: 4rem;
    width:max-content;
}

.row_poster{    
    width:325px;
    height:220px;
    margin-right: 10px;
    margin-bottom: 0;
    transition: transform 450ms;
    cursor: pointer;
    overflow: hidden;
}


img{
    width: 100%;
    height: 220px;
    object-fit: cover;
    box-sizing: border-box;
    border-radius: 10px;
}

.row_poster:hover{
    width: 400px;
    height: 500px;
    box-shadow: 0px 2px 5px 0px rgba(255, 255, 255, 0.22);
    border-radius: 8px;
}



.row_poster img:hover{
    height: 240px;
    border-radius: 0;
}



/* to hide scroll bar*/
.row::-webkit-scrollbar{
    display: none;
}

.item_info{
    margin-left: 10px;
}

.icons{
    font-size: 27px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}
.icon.circle{
 padding: 5px;

}

.itemInfoTop{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 14px;
    color: grey;
    font-weight: 500;
}

.overview{
   font-size: 13px;
   margin-bottom: 10px;
}

.genre{
    display: flex;
    margin-bottom: 30px;
}

.genre_item{
    list-style:circle;
    margin-right: 10px;
    color: rgb(136, 134, 134);
    font-weight: 800;
    font-size: 14px;
}

.review{
    display:none;
    justify-content:space-between;
}

.review_form{
    display: none;
}